infosection{
    padding: 30px 20px;
    display: flex;
    /* justify-content: left; */
    /* align-items: center; */
    /* gap: 0px; */
    flex-wrap: wrap;
}

.infobox{
    width:max;
    height: max-content;
    padding: 10px 50px;
    border-radius: 45px;
    /* background-color: var(--secondary-color-dark);  */
    background-color: #4141ae;
}

.infobox a {
    /* color: var(--text-color); */
    color: lawngreen;
    text-decoration: none;
}

.infobox a:hover {

    color: var(--link-pink);
}
