section {
    padding: 5px 25px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.icon {
    height: 500px;
    width: 500px;
    /* overflow: hidden; */

    display: flex;
    justify-content: left;
    align-items: center;
}

.icon img {
    width: 90%;
}

.infotext{
    border-radius: 30px;
    padding: 20px 20px;
    background-color: var(--secondary-color-dark);

    
}
